<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>We are home</title>
    <script src="https://aframe.io/releases/1.4.1/aframe.min.js"></script>
  </head>
  <body>
    <div>
    <h1
    style="text-align: center;"
    >LOGIN PAGE</h1>
    </div>

    <form action="/action_page.php">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </form>

    <a href="/proxy/8093/not_home">Questions</a>

    <!-- <form style="text-align: center; margin-top: auto;" >
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname">
      <label for="submitButton"></label><br>
      <input type="submit" id="submitButton" name="Submit">

      <label for="login">Username:</label><br>
      <input type="text" id="login" name="login"><br>
    </form> -->

  </body>
 
</html>